openapi: 3.1.0
info:
  title: Maison Arc API
  version: 1.0.0
  description: >
    Core API for Maison Arc bespoke commerce, saved designs, customer accounts,
    cart, checkout, and atelier review workflows.
servers:
  - url: https://api.maison-arc.com
tags:
  - name: Auth
  - name: Catalog
  - name: Designs
  - name: Shared Designs
  - name: Cart
  - name: Checkout
  - name: Orders
  - name: Account
  - name: Journal
  - name: Admin
paths:
  /v1/auth/magic-link/request:
    post:
      tags: [Auth]
      summary: Request a magic-link sign-in email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                redirectPath:
                  type: string
      responses:
        "202":
          description: Accepted
  /v1/auth/magic-link/verify:
    post:
      tags: [Auth]
      summary: Verify a magic-link token and create a session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Session created
  /v1/auth/session:
    get:
      tags: [Auth]
      summary: Get current session
      responses:
        "200":
          description: Current session
    delete:
      tags: [Auth]
      summary: Revoke current session
      responses:
        "204":
          description: Session revoked

  /v1/catalog/products:
    get:
      tags: [Catalog]
      summary: List products
      parameters:
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: availability
          schema:
            type: string
      responses:
        "200":
          description: Product list
  /v1/catalog/products/{slug}:
    get:
      tags: [Catalog]
      summary: Get product details
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product detail
        "404":
          description: Not found

  /v1/designs:
    get:
      tags: [Designs]
      summary: List saved designs for current user
      responses:
        "200":
          description: Saved designs
    post:
      tags: [Designs]
      summary: Create a saved design
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDesignRequest"
      responses:
        "201":
          description: Created
  /v1/designs/{designId}:
    get:
      tags: [Designs]
      summary: Get a saved design
      parameters:
        - $ref: "#/components/parameters/DesignId"
      responses:
        "200":
          description: Design detail
    patch:
      tags: [Designs]
      summary: Update a saved design
      parameters:
        - $ref: "#/components/parameters/DesignId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDesignRequest"
      responses:
        "200":
          description: Updated
    delete:
      tags: [Designs]
      summary: Archive a saved design
      parameters:
        - $ref: "#/components/parameters/DesignId"
      responses:
        "204":
          description: Archived
  /v1/designs/{designId}/share:
    post:
      tags: [Shared Designs]
      summary: Create or rotate a share link for a design
      parameters:
        - $ref: "#/components/parameters/DesignId"
      responses:
        "201":
          description: Share link created
  /v1/shared-designs/{token}:
    get:
      tags: [Shared Designs]
      summary: Get a public-safe shared design projection
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Shared design projection
        "404":
          description: Invalid or revoked share link

  /v1/cart:
    get:
      tags: [Cart]
      summary: Get active cart
      responses:
        "200":
          description: Active cart
  /v1/cart/items:
    post:
      tags: [Cart]
      summary: Add an item to cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddCartItemRequest"
      responses:
        "201":
          description: Cart item created
  /v1/cart/items/{cartItemId}:
    patch:
      tags: [Cart]
      summary: Update cart item quantity or configuration
      parameters:
        - $ref: "#/components/parameters/CartItemId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCartItemRequest"
      responses:
        "200":
          description: Cart item updated
    delete:
      tags: [Cart]
      summary: Remove cart item
      parameters:
        - $ref: "#/components/parameters/CartItemId"
      responses:
        "204":
          description: Removed

  /v1/checkout/session:
    post:
      tags: [Checkout]
      summary: Create a checkout session from active cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shippingAddressId]
              properties:
                shippingAddressId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Checkout session created
  /v1/checkout/session/{checkoutSessionId}/payment-method:
    post:
      tags: [Checkout]
      summary: Attach a payment method to checkout session
      parameters:
        - $ref: "#/components/parameters/CheckoutSessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [setupIntentId]
              properties:
                setupIntentId:
                  type: string
      responses:
        "200":
          description: Payment method captured for future charge
  /v1/checkout/session/{checkoutSessionId}/submit:
    post:
      tags: [Checkout]
      summary: Submit commission order for atelier review
      parameters:
        - $ref: "#/components/parameters/CheckoutSessionId"
      responses:
        "201":
          description: Order created

  /v1/orders:
    get:
      tags: [Orders]
      summary: List current user's orders
      responses:
        "200":
          description: Orders list
  /v1/orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order detail
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Order detail

  /v1/account/profile:
    get:
      tags: [Account]
      summary: Get current customer profile
      responses:
        "200":
          description: Profile
    patch:
      tags: [Account]
      summary: Update current customer profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Updated
  /v1/account/addresses:
    get:
      tags: [Account]
      summary: List saved addresses
      responses:
        "200":
          description: Address list
    post:
      tags: [Account]
      summary: Create an address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Address"
      responses:
        "201":
          description: Created

  /v1/journal/articles:
    get:
      tags: [Journal]
      summary: List published journal articles
      responses:
        "200":
          description: Articles list
  /v1/journal/articles/{slug}:
    get:
      tags: [Journal]
      summary: Get a published journal article
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Article
        "404":
          description: Not found

  /v1/admin/orders/{orderId}/review:
    post:
      tags: [Admin]
      summary: Approve or reject order during atelier review
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AtelierReviewRequest"
      responses:
        "200":
          description: Review stored

components:
  parameters:
    DesignId:
      in: path
      name: designId
      required: true
      schema:
        type: string
        format: uuid
    CartItemId:
      in: path
      name: cartItemId
      required: true
      schema:
        type: string
        format: uuid
    CheckoutSessionId:
      in: path
      name: checkoutSessionId
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      in: path
      name: orderId
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    DesignConfiguration:
      type: object
      additionalProperties: true
      description: Stored product configuration snapshot
    CreateDesignRequest:
      type: object
      required: [productId, name, configuration]
      properties:
        productId:
          type: string
          format: uuid
        name:
          type: string
        configuration:
          $ref: "#/components/schemas/DesignConfiguration"
    UpdateDesignRequest:
      type: object
      properties:
        name:
          type: string
        configuration:
          $ref: "#/components/schemas/DesignConfiguration"
    AddCartItemRequest:
      type: object
      required: [productId, configuration, quantity]
      properties:
        productId:
          type: string
          format: uuid
        savedDesignId:
          type: string
          format: uuid
        configuration:
          $ref: "#/components/schemas/DesignConfiguration"
        quantity:
          type: integer
          minimum: 1
    UpdateCartItemRequest:
      type: object
      properties:
        quantity:
          type: integer
          minimum: 1
        configuration:
          $ref: "#/components/schemas/DesignConfiguration"
    Address:
      type: object
      required:
        [recipientName, line1, city, postalCode, countryCode]
      properties:
        label:
          type: string
        recipientName:
          type: string
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
          minLength: 2
          maxLength: 2
    AtelierReviewRequest:
      type: object
      required: [decision]
      properties:
        decision:
          type: string
          enum: [approve, reject]
        leadTimeDays:
          type: integer
        approvedSubtotalCents:
          type: integer
        approvedDepositCents:
          type: integer
        approvedBalanceCents:
          type: integer
        customerNotes:
          type: string
        internalNotes:
          type: string
